:root {
  --light-accent: #98c1d9;
  --dark-primary: #ee6c4d;
  --light-bg: #e0fbfc;
  --light-primary: #293241;
  --dark-accent: #3d5a80;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: var(--dark-primary);
  --md-accent-fg-color: var(--dark-accent);
  --md-primary-bg-color: var(--light-primary);
  --md-default-bg-color: var(--light-primary);
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: var(--light-primary);
  --md-accent-fg-color:  var(--light-accent);
  --md-primary-bg-color: var(--dark-primary);
  --md-default-bg-color: var(--light-bg);

}

  
.md-typeset a {
   transition: color .8s;
}

.md-nav__link--active{
  font-weight: bold;
}
