/* Palette de couleurs pour le mode dark */
[data-md-color-scheme="slate"] {
  --bg: #1B1A1D;
  --banner: #B89F6A;
  --table: #A67C52;
  --primary: #9B1C31 ;  
  --accent: #A67C52;
  --base-block: #2A2A2E;
  --title: #B89F6A;
  --title-accent : #A67C52;
  
  --md-primary-fg-color: var(--primary);
  --md-accent-fg-color: var(--accent);
  --md-default-bg-color: var(--bg);
  --md-primary-bg-color: var(--banner);
  --md-typeset-table-color: var(--table);
}

/* Palette de couleurs pour le mode normal */
[data-md-color-scheme="default"] {
  --bg: #F3E8D9;
  --banner: #A67C52;
  --table: #A67C52;
  --primary: #1B1A1D;  
  --accent: #A67C52;
  --base-block: #C4C4C4;
  --title: #1B1A1D;
  --title-accent : #9B1C31;
  
  --md-primary-fg-color: var(--primary);
  --md-accent-fg-color: var(--accent);
  --md-default-bg-color: var(--bg);
  --md-primary-bg-color: var(--banner);
  --md-typeset-table-color: var(--table);
}

:root {
  --md-primary-fg-color: var(--primary);
  --md-accent-fg-color: var(--accent);
  --md-default-bg-color: var(--bg);
  --md-primary-bg-color: var(--banner);
  --md-typeset-table-color: var(--table);
  --md-admonition-icon--figure:;
  --md-admonition-icon--figure-right:;
  --md-admonition-icon--figure-left:;

}



.admonition.figure {
	padding: .5em;
	margin: .5em;
	background-color: var(--bg);
	border: none;
	box-shadow: none;
	max-width: 40%;
  	margin-left: auto !important;
  	margin-right: auto !important;
}

.md-main__inner.md-grid {
    max-width: initial;
}

.figure > .admonition-title,
.figure-right > .admonition-title,
.figure-left > .admonition-title {
	padding: 0;
	margin: 0;
	background-color: var(--md-default-bg-color);
}

.figure > .admonition-title::before,
.figure-right > .admonition-title::before,
.figure-left > .admonition-title::before {
	visibility: hidden;
}

.admonition.figure-right {
	padding: .5em;
	margin: .5em;
	float: right;
	width: 50%;
	background-color: var(--md-default-bg-color);
	border: none;
	box-shadow: none;
	max-width: 40%;
  	margin-left: auto !important;
  	margin-right: auto !important;
}

.admonition.figure-left {
	padding: .5em;
	margin: .5em;
	float: left;
	width: 50%;
	background-color: var(--bg);
	border: none;
	box-shadow: none;
	max-width: 40%;
  	margin-left: auto !important;
  	margin-right: auto !important;
}

.base-block {
  background: var(--base-block);
} 

.md-content {
  text-align:justify;
}

.md-typeset a {
  color: var(--banner);
}

.md-typeset a:hover {
  color: var(--accent);
}

.base-block:hover{
  border: 10px solid var(--primary);
}

.base-name{
  color: var(--accent);
}

.md-typeset h1 {
  color: var(--title);
  font-weight: bold; 
  border-bottom: 3px solid var(--banner);
}

.md-typeset h2 {
  color: var(--accent);
  font-weight: bold;
}

.md-typeset h3 {
  color: var(--primary);
  border-left: 4px solid var(--title-accent);
  padding-left: 10px;
}

.base-block:hover .base-content {
  color: var(--accent)
}

.md-typeset a {
   transition: color .8s;
}

.md-nav__link--active{
  font-weight: bold;
}

/* Style pour la gestion des cartes de classe */

/* Structure globale de la carte */
.flip-card {
  box-sizing: border-box;
  height: 350px;
  margin-bottom: 40px;
}

/* Structure interne de la carte */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: .6s .1s;
  transform-style: preserve-3d;
}

/* Affiche le dégradé de couleur sur la droite de la carte */
.flip-card .flip-card-front::before, .flip-card .flip-card-back::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, var(--card-color), transparent 50%);
  opacity: 0.2;
  pointer-events: none;
}

.flip-card:nth-child(2n) .flip-card-front::before, .flip-card:nth-child(2n) .flip-card-back::before {
  background-image: linear-gradient(-250deg, var(--card-color), transparent 50%);
}

/* Permet la rotation de la carte lors du survol de la souris */
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  overflow: hidden;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--bg);
}

.flip-card-front {
  flex-direction: row;
}

.flip-card-back {
  transform: rotateX(180deg);
  padding: 20px;
  flex-direction: column;
}

.flip-card-img {
  position: absolute;
  height: 100%;
  width: 30%;
}

.flip-card:nth-child(2n) .flip-card-img {
  left: initial;
  right: 0;
}

/* Regroupe le titre, le sous-titre, la barre et la description */
.flip-card-textbox {
  position: absolute;
  padding-top: 1%;
  left: 32%;
  width: 65%;
}

.flip-card:nth-child(2n) .flip-card-textbox {
  left: initial;
  right: 32%;
}

.flip-card-title {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: var(--title);
}

.flip-card-subtitle {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: var(--accent);
}

.flip-card-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: var(--card-color);
  transition: width 0.2s ease;
}

.flip-card-back .flip-card-bar {
  width: 100px;
}

.flip-card-description {
  font-size: 15px;
  height: 200px;
}

.flip-card-linkbox {
  display: flex;
  font-size: 15px;
  width: 100%;
  justify-content: space-evenly;
}

.flip-card-linkbox ul {
  list-style: none;
}

.flip-card-linkbox li {
  margin-bottom: 5px;
}



.flip-card-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

.flip-card-tag {
  display: inline-block;
  --tag-color: #E0E0E0; 
  background: var(--tag-color);
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}
.flip-card-tag::before {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}
.flip-card-tag::after {
  content: '';
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid var(--tag-color);
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

.flip-card-link {
  position: absolute;
  bottom: 3%;
  right: 3%;
  font-size: 14px;
  font-weight: bold;
}

.flip-card a {
   position: relative;
   text-decoration: none; /* On désactive le soulignement natif */
}

.flip-card a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px; /* Épaisseur du soulignement */
  width: 0;
  background-color: var(--card-color); /* Couleur du soulignement */
  transition: width 0.4s ease; /* Animation fluide */
}

.flip-card a:hover::after {
      width: 100%; /* Barre s’étend sur toute la largeur au survol */
    }
