:root {
  --light-bg: yellow;
  --light-banner: red;
  --light-table: red;
  --light-link-start: red;
  --light-link-end: blue;
  --light-primary: #1B1A1D;  
  --light-accent: #5B849D;
  --light-base-block: purple;
  --light-title: black;
  
  --dark-bg: #1B1A1D;
  --dark-banner: #1B1A1D;
  --dark-table: red;
  --dark-link-start: red;
  --dark-link-end: blue;
  --dark-primary: #5F8FB0 ;  
  --dark-accent: #5B849D;
  --dark-base-block: pink;
  --dark-title: white;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: var(--dark-primary);
  --md-accent-fg-color: var(--dark-accent);
  --md-default-bg-color: var(--dark-bg);
  --md-primary-bg-color: var(--dark-banner);
  --md-typeset-table-color: var(--dark-table);
  .base-block {
    background: var(--dark-base-block);
  } 
  
  .base-block:hover{
    border: 10px solid var(--dark-primary);
  }
  
  .base-name{
    color: var(--dark-accent);
  }
  
  h1 {
    color: var(--dark-title);
    font-weight: bold;
  }
  
  h2 {
    color: var(--dark-accent)
  }
  
  h3 {
    color: var(--dark-primary)
  }
  
  .base-block:hover .base-content {
    color: var(--dark-accent)
  }
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: var(--light-primary);
  --md-accent-fg-color:  var(--light-accent);
  --md-default-bg-color: var(--light-bg);
  --md-typeset-table-color: var(--light-table);;
  
  .md-typeset a {
    color: var(--light-primary);
  }
  
  .md-typeset a:hover {
    color: var(--light-accent);
  }
  
  .base-block {
    background: var(--light-base-block);
  } 
  
  .base-block:hover{
    border: 10px solid var(--light-primary);
  }
  
  h1 {
    color: var(--light-title);
    font-weight: bold;
  }
  
  h2 {
    color: var(--light-accent)
  }
  
  h3 {
    color: var(--light-primary)
      font-weight: bold;
  }
  
  .base-name{
    color: var(--light-accent);
  }
  
  .base-block:hover .base-content {
    color: var(--light-accent)
  }

}

  
.md-typeset a {
   transition: color .8s;
}

.md-nav__link--active{
  font-weight: bold;
}
