.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(400px, 100px);
}
.base-block {
    color: inherit;
    text-decoration: none;
    background: var(--light-accent);
    display: grid;
    grid-template-columns: 50px auto;
    gap: -30px;
    transform: skew(-10deg, 0);
    border-radius: 35px;
    overflow: hidden;
}

.base-img {
    position: absolute;
    top: -50px;
    left: 30px;
    scale: .75;
}

.base-block:hover .base-img{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .25s, opacity .25s linear;
}

.base-block:hover .base-content{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s .1s, opacity .1s .15s linear;
}

.base-content{
    text-align: center;
    vertical-align: middle;
    margin-top: 30%
}

/* .base-desc span{
    position: absolute;
    bottom: 20px;
    font-style: italic;
} */

.base-content{
    visibility: hidden;
    opacity: 0;
}

.base-name{
    writing-mode: vertical-rl;
    text-orientation: upright;
    vertical-align: text-top;
    text-align: left;
    margin-top: 30px;
    font-size: x-large;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.base-block:hover{
    scale: 1.2;
    opacity: 1;
    border: 10px solid var(--dark-primary);
    cursor:pointer;
    z-index: 2;
}

.base-name{
    font-weight: 1000;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    width: 10%;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.on {
    background: #04AA6D;
}

.off {
    background: grey;
}

.sel {
    display: grid;
}

.unsel {
    display: none;
}

.icon {
    width: 5%;
    margin-left: 2px;
    margin-right: 2px;
}

.selected {
    border: 10px solid rgba(150,150,0,.4);
    scale: 1.1;
    opacity: 1;
    z-index: 1;
}
