name: ci
on:
  workflow_run:
    workflows: [Update Progress]
    types:
      - completed
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-python@v5.0.0
        with:
          python-version: 3.x
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install mkdocs-material
      - run: pip install mkdocs-roamlinks-eostrebis-plugin
      - run: pip install mkdocs-callouts
      # - run: pip install mkdocs-mermaid2-plugin
      - run: mkdocs gh-deploy --force
