<style>
	.tab {
		overflow: hidden;
		border: 1px solid #ccc;
	}

	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 17px;
	}

	.tab button:hover{
		background-color: #ddd;
	}

	.tab button.active{
		background-color: #ccc;
	}

	.tabcontent{
		display: none;
		padding: 6px 12px;
		border-top: none;
	}
</style>

<div class="tab">
	<button class="tablinks" onclick="openTab(event, 'Personnage')" id="defaultOpen">Personnage</button>
	<button class="tablinks" onclick="openTab(event, 'races')">Race</button>
	<button class="tablinks" onclick="openTab(event, 'classes')" >Classe</button>
	<button class="tablinks" onclick="openTab(event, 'backgrounds')">Historique</button>
	<button class="tablinks" onclick="openTab(event, 'feats')">Dons</button>
	<button class="tablinks" onclick="openTab(event, 'spells')">Sorts</button>
	<button class="tablinks" onclick="openTab(event, 'equipments')">Équipements</button>
</div>

<div id="Personnage" class="tabcontent">
	This is a simple test :)
</div>

<div id="races" class="load tabcontent">

</div>

<div id="classes" class="load tabcontent">

</div>

<div id="feats" class="load tabcontent">

</div>

<div id="backgrounds" class="load tabcontent">

</div>

<div id="spells" class="load tabcontent">

</div>

<div id="equipments" class="load tabcontent">

</div>

<script>
	function openTab(evt, tab_name){
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		document.getElementById(tab_name).style.display = "block";
		evt.currentTarget.className += " active";
	}

	document.getElementById("defaultOpen").click();
</script>

<script>
	var level = 1;
	var speed = {};
	var type = "";
	var languages = [];
	var size = "";
	var chosen_race = "";
	var chosen_class = "";
	var suggested_improvements = "";
	var resistances = [];
	var FOR = 10;
	var DEX = 10;
	var CON = 10;
	var INT = 10;
	var WIS = 10;
	var CHA = 10;
	var feats = {};
	var spells = {"0":[], "1":[], "2":[], "3":[],"4":[],"5":[], "6":[],"7":[],"8":[],"9":[]};
	var features = [];

    function addSpells(new_spells, level){
    	for (var i in new_spells){
    		for (var j in new_spells[i]){
    			spells[i].push([new_spells[i][j], level]);
    		}
    	}
    }

    function addSpeed(new_speed, level, origin){
    	for (var speed_mode in new_speed){
    		if (!speed.speed_mode){
    			speed.speed_mode = [];
    		}
    		speed.speed_mode.push({"value":new_speed, "level":level, "origin":origin});
    	}
    }

    function addResistances(new_resistances, level){
    	for (var i in new_resistances){
    		resistances.push([new_resistances[i], level]);
    	}
    }

	function resetRace(){
		type = "";

		// Language
		new_languages = [];
		languages.forEach(language => {
			if (language.origin !== "race"){
				new_languages.push(language);
			}
		})
		languages = new_languages;

		// Speed
		for (var speed_mode in speed){
			new_spd_mode = [];
			speed[speed_mode].forEach(spd =>
			{
				if (spd.origin !== "race"){
					new_spd_mode.push(spd);
				}
			});
			speed[speed_mode] = new_spd_mode;
		}
	}

	function updateRace(race){
		if (race !== chosen_race){
			chosen_race = race;

			resetRace();

			fetch('../Races/' + race + '.json')
					.then((response) => response.json())
					.then((json) => {
						suggested_improvements = json.ability_improvements;
						type = json.type;
						json.languages.forEach(language => {
							l = {"value":language, "origin":"race"};
							languages.push(l);
						});
					});
		}
	}

	function updateClass(clas){
		if (clas !== chosen_class){
			chosen_class = clas;
		}
	}

</script>


<script>
	function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}

	// Loadd all blocks;
	sleep(400).then(() => {
		document.querySelectorAll(".load").forEach(load => {
			switch (load.id){
				case 'races':
				case 'classes':
					loadJson(load.id, false, load.id, (block, name) => {
						return () => {
							document.querySelectorAll(".base-block").forEach(b => {
								b.classList.remove("selected");
							});
							block.classList.add("selected");
							switch (load.id){
								case "races":
									updateRace(name);
									break;
								case "classes":
									updateClass(name);
									break;
							}
						}});
					break;
				default:
					console.log(load.id + " not handled");
			}
		});
	});
</script>
