<style>
  .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(300px, 100px);
}
.base-block {
  color: inherit;
  text-decoration: none;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  background: #2C1A21;
  gap: -30px;
  transform: skew(-10deg, 0);
  border-radius: 25px;
  overflow: hidden;
}
.base-img {
  height: 300px;
}
.base-desc{
  text-align: center;
  vertical-align: middle;
}

.base-desc span{
  position: absolute;
  bottom: 20px;
  font-style: italic;
}

.base-block:hover{
  scale: 1.2;
  opacity: 1;
  border: 10px solid rgba(150,0,0,.4);
  cursor:pointer;
  z-index: 1;
}

.base-name{
  font-weight: 1000;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  width: 10%;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.on {
    background: #04AA6D;
}

.off {
    background: grey;
}

.icon {
  width: 5%;
  margin-left: 2px;
  margin-right: 2px;
}
</style>

<script type="text/javascript">

    function updateSort(){
        document.querySelectorAll(".base-block").forEach(block => {
            block.style.display = "grid";
        });
        document.querySelectorAll(".button").forEach(button => {
            id = button.id.slice(0,-1);
            if (window[id]){
                button.classList.remove("off");
                button.classList.add("on");
                // What happens if window[id] != true ? 
                // We should check for value here !
                console.log(id);
                if (window[id] === true){
                    document.querySelectorAll(".base-block:not(."+id+")").forEach(sub_block => {
                        console.log(sub_block);
                        sub_block.style.display = "none";
                    })
                } else {
                    document.querySelectorAll(".base-block:not(."+id+"-"+window[id]+")").forEach(sub_block => {
                        console.log(sub_block);
                        sub_block.style.display = "none";
                    })
                }
            } else {
                button.classList.remove("on");
                button.classList.add("off");
            }
        });
    }

    function loadJson(page_json){
        fetch('../'+page_json+'.json')
            .then((response) => response.json())
            .then((json) => {
                json.sort.forEach(sort => {
                    if (sort.button){
                        button = document.createElement("button");
                        button.classList.add("button");
                        button.classList.add("off");
                        button.id = sort.name+"b";
                        switch (sort.type){
                            case "bool":
                                window[sort.name] = false;
                                button.textContent = sort.text;
                                window[sort.name+"_img"] = sort.icon
                                break;
                            case "choice":
                                window[sort.name] = "";
                                button.textContent = sort.text.replace("%C","");
                                for (const [index, element] of sort.possibles.entries()) {
                                    window[sort.name+"_"+element+"_img"] = sort.icons[index];
                                }
                                break;
                            default:
                                window[sort.name] = 0;
                        }
                        button.onclick = function () {
                            console.log(sort.name, window[sort.name])
                            switch (sort.type){
                                case "bool":
                                    window[sort.name] = !window[sort.name];
                                    break;
                                case "choice":
                                    if (window[sort.name] === ""){
                                        window[sort.name] = sort.possibles[0];
                                    } else {
                                        index = sort.possibles.indexOf(window[sort.name]);
                                        if (index === sort.possibles.length-1){
                                            window[sort.name]  = ""
                                        } else {
                                            window[sort.name] = sort.possibles[(index + 1) % (sort.possibles.length)];
                                        }
                                    }
                                    document.getElementById(sort.name+"b").textContent = sort.text.replace("%C",window[sort.name]);
                            }
                            updateSort();
                        };

                        document.getElementsByClassName("md-content__inner")[0].appendChild(button);
                    }
                });
                base_grid = document.createElement("div");
                base_grid.classList.add("grid");
                json.options.forEach(option => {
                    block = document.createElement("a");
                    block.href = "../{{page.meta.load}}/"+option.name;
                    block.classList.add("base-block");
                    let img = document.createElement("img");
                    img.classList.add("base-img");
                    img.src = "../Illustrations/{{page.meta.load}}/"+option.name+"."+option['img-type'];
                    block.appendChild(img);
                    let desc = document.createElement("div");
                    desc.classList.add("base-desc");
                    let name = document.createElement("div");
                    name.classList.add("base-name");
                    name.textContent = option.name;
                    let content = document.createElement("div");
                    content.classList.add("base-content");
                    content.textContent = option.description;
                    desc.appendChild(name);
                    desc.appendChild(content);
                    block.appendChild(desc);
                    document.querySelectorAll(".button").forEach(button => {
                        id = button.id.slice(0,-1);
                        if (option[id]){
                            if (option[id] === true){
                                block.classList.add(id)
                                if (window[id+"_img"]){
                                    var sub_icon = document.createElement("img");
                                    sub_icon.classList.add("icon")
                                    sub_icon.src = "../Illustrations/"+window[id+"_img"];
                                    name.appendChild(sub_icon);
                                }
                            } else {
                                option[id].forEach(opt =>{
                                    block.classList.add(id+'-'+opt)
                                    var sub_icon = document.createElement("img");
                                    sub_icon.classList.add("icon")
                                    sub_icon.src = "../Illustrations/"+window[id+"_"+opt+"_img"];
                                    name.appendChild(sub_icon);
                                });
                            }
                        }                        
                    });
                    base_grid.appendChild(block);
                });
                document.getElementsByClassName("md-content__inner")[0].appendChild(base_grid);
                
            });
    }

    loadJson("{{page.meta.load}}");
    updateSort();

</script>