<style>
  .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(300px, 100px);
}
.base-block {
  color: inherit;
  text-decoration: none;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  background: #2C1A21;
  gap: -30px;
  transform: skew(-10deg, 0);
  border-radius: 25px;
  overflow: hidden;
}
.base-img {
  height: 300px;
}
.base-desc{
  text-align: center;
  vertical-align: middle;
}

.base-desc span{
  position: absolute;
  bottom: 20px;
  font-style: italic;
}

.base-block:hover{
  scale: 1.2;
  opacity: 1;
  border: 10px solid rgba(150,0,0,.4);
  cursor:pointer;
  z-index: 1;
}

.base-name{
  font-weight: 1000;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  width: 10%;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.on {
    background: #04AA6D;
}

.off {
    background: grey;
}

.sel {
    display: grid;
}

.unsel {
    display: none;
}

.icon {
  width: 5%;
  margin-left: 2px;
  margin-right: 2px;
}
</style>

<script type="text/javascript">
    {%if page.meta.load%}
        {%if page.meta.redirection%}
            loadJson("{{page.meta.load}}", true);
        {%else%}
            loadJson("{{page.meta.load}}", false);
        {%endif%}
        updateSort();
    {%endif%}
</script>

{% if page.meta.load_js %}
    <script>
        loadJson("{{page.meta.load_js}}", false);
    </script>
{% endif %}