<button class="button" id="mediumb" onclick="showSize('M')">Taille M</button>
<button class="button" id="smallb" onclick="showSize('S')">Taille P</button>
<button class="button" id="subraceb" onclick="showSubrace()">Sous-Race</button>
<button class="button" id="classicb" onclick="showClassic()">Races classiques</button>

<div class="race-grid">
  <a href="../Races/Aarakocra" class="race size-M"><img class="race-img" src="../Illustrations/Races/Aarakocra.png"><div class="race-desc"><div class="race-name">Aarakocra</div><br><div class="race-content">Peuple ailé originaire du Plan Élémentaire de l'Air, les aarakocras fendent le ciel partout où ils voyagent.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Aasimar" class="race size-M"><img class="race-img" src="../Illustrations/Races/Aasimar.png"><div class="race-desc"><div class="race-name">Aasimar</div><br><div class="race-content">Héritiers de pouvoirs célestes, les aasimars portent en eux une étincelle des Plans Supérieurs.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Autognome" class="race size-S"><img class="race-img" src="../Illustrations/Races/Autognome.png"><div class="race-desc"><div class="race-name">Autognome</div><br><div class="race-content">Les autognomes sont des êtres mécaniques construits par des gnomes des roches et devenus conscients.<br><span>Taille P</span></div></div></a>
  <a href="../Races/Centaure" class="race size-M"><img class="race-img" src="../Illustrations/Races/Centaure.png"><div class="race-desc"><div class="race-name">Centaure</div><br><div class="race-content">Les centaures sont généralement originaires de la Féerie et résonnent magiquement avec le monde naturel.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Changelin" class="race size-M"><img class="race-img" src="../Illustrations/Races/Changelin.png"><div class="race-desc"><div class="race-name">Changelin</div><br><div class="race-content">Avec leurs apparences changeantes, les changelins sont insérés dans de nombreuses sociétés.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Drakéïde" class="race size-M subrace classic"><img class="race-img" src="../Illustrations/Races/Drak%C3%A9ide.png"><div class="race-desc"><div class="race-name">Drakéïde</div><br><div class="race-content">Nés des dragons, les drakéïdes marchent fièrement à travers un monde qui les accueille avec une incompréhension effrayante.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Elfe" class="race size-M subrace classic"><img class="race-img" src="../Illustrations/Races/Elfe.png"><div class="race-desc"><div class="race-name">Elfe</div><br><div class="race-content">Les elfes sont un peuple magique avec une grâce sans précédent, vivant dans ce monde sans réellement en faire partie.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Fadette" class="race size-S"><img class="race-img" src="../Illustrations/Races/Fadette.png"><div class="race-desc"><div class="race-name">Fadette</div><br><div class="race-content">Les fadettes, originaire de la Féerie, sont un peuple petit mais pas autant que leurs cousins lutins ou pixies.<br><span>Taille P</span></div></div></a>
  <a href="../Races/Filelièvre" class="race size-M size-S"><img class="race-img" src="../Illustrations/Races/Fieli%C3%A8vre.webp"><div class="race-desc"><div class="race-name">Filelièvre</div><br><div class="race-content">Les filelièvres, êtres lagomorphes, sont originaires de la Féerie et incarnent la volonté de liberté et de voyager. <br><span>Taille P ou M</span></div></div></a>
  <a href="../Races/Firbolg" class="race size-M"><img class="race-img" src="../Illustrations/Races/Firbolg.webp"><div class="race-desc"><div class="race-name">Firbolg</div><br><div class="race-content">Cousins lointains des géants, les premiers firbolgs parcouraient les forêts primitives du multivers.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Genasi" class="race size-M size-S subrace"><img class="race-img" src="../Illustrations/Races/Genasi.png"><div class="race-desc"><div class="race-name">Genasi</div><br><div class="race-content">Les genasis sont la progéniture entre les génies et les mortels et héritent de pouvoirs élémentaires. <br><span>Taille P ou M</span></div></div></a>
  <a href="../Races/Gepettain" class="race size-S subrace"><img class="race-img" src="../Illustrations/Races/Gepettain.png"><div class="race-desc"><div class="race-name">Gepettain</div><br><div class="race-content">Véritables joies pour les enfants, les gepettains ressemblent à des jouets vivants faits en bois, en tissus, ou en porcelaine.<br><span>Taille P</span></div></div></a>
  <a href="../Races/Gith" class="race size-M subrace"><img class="race-img" src="../Illustrations/Races/Gith.webp"><div class="race-desc"><div class="race-name">Gith</div><br><div class="race-content">Les giths sont une race humanoïde qui a autrefois été mise en esclavage par les illithides. Nul ne sait vraiment s'ils descendent des humains.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Gnome" class="race size-S subrace classic"><img class="race-img" src="../Illustrations/Races/Gnome.png"><div class="race-desc"><div class="race-name">Gnome</div><br><div class="race-content">Pour les gnomes, être en vie est la meilleure chose qui soit, et ils tirent tout le plaisir possible de leurs trois à cinq siècles de vie.<br><span>Taille P</span></div></div></a>
  <a href="../Races/Gobelin" class="race size-S"><img class="race-img" src="../Illustrations/Races/Gobelin.png"><div class="race-desc"><div class="race-name">Gobelin</div><br><div class="race-content">Avant que ceux-ci ne soient envahis, les gobelins servaient dans la cour de la Reine des Airs et des Ténèbres, l'une des archifey de la Féerie.<br><span>Taille P</span></div></div></a>
  <a href="../Races/Gobelours" class="race size-M"><img class="race-img" src="../Illustrations/Races/Gobelours.png"><div class="race-desc"><div class="race-name">Gobelours</div><br><div class="race-content">Absolument pas des ours, les gobelours sont les cousins bourrins des gobelins et des hobgobelins. <br><span>Taille M</span></div></div></a>
  <a href="../Races/Goliath" class="race size-M"><img class="race-img" src="../Illustrations/Races/Goliath.png"><div class="race-desc"><div class="race-name">Goliath</div><br><div class="race-content">Cousins lointains des géants et infusés de l'essence surnaturelle de leurs ancêtres, les goliaths atteignent les 2 mètres. <br><span>Taille M</span></div></div></a>
  <a href="../Races/Giff" class="race size-M"><img class="race-img" src="../Illustrations/Races/Giff.webp"><div class="race-desc"><div class="race-name">Giff</div><br><div class="race-content">Les giffs sont un peuple de grand et larges individus avec des caractéristiques d'hippopotame.<br><span>Taille M</span></div></div></a> 
  <a href="../Races/Halfelin" class="race size-S subrace classic"><img class="race-img" src="../Illustrations/Races/Halfelin.png"><div class="race-desc"><div class="race-name">Halfelin</div><br><div class="race-content">Les halfelins sont un peuple aimable et amical. Ils chérissent les liens familiaux et l'amitié.<br><span>Taille P</span></div></div></a>
  <a href="../Races/Hobgobelin" class="race size-M"><img class="race-img" src="../Illustrations/Races/Hobgobelin.png"><div class="race-desc"><div class="race-name">Hobgobelin</div><br><div class="race-content">On peut remonter les origines des hobgobelins jusqu'aux anciennes cours de la Féerie, où ils sont d'abord apparus avec les gobelins et gobelours.<br><span>Taille M</span></div></div></a>  
  <a href="../Races/Homme-Lézard" class="race size-M"><img class="race-img" src="../Illustrations/Races/Homme-Lézard.png"><div class="race-desc"><div class="race-name">Homme-Lézard</div><br><div class="race-content">Certains sages pensent que les sauriens hommes-lézard sont des cousins lointains des drakéïdes et des kobolds.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Homme-Souris" class="race size-S subrace"><img class="race-img" src="../Illustrations/Races/Homme-Souris.png"><div class="race-desc"><div class="race-name">Homme-Souris</div><br><div class="race-content">À ne jamais mépriser, les petits et peu menaçants hommes-souris sont bien trop bienveillants et sont plus braves que bien des géants.<br><span>Taille P</span></div></div></a>
  <a href="../Races/Hoom" class="race size-M"><img class="race-img" src="../Illustrations/Races/Hoom.png"><div class="race-desc"><div class="race-name">Hoom</div><br><div class="race-content">Cousin éloigné des chouettes géantes de la Féerie, les hooms existent de différentes tailles et formes.<br><span>Taille M</span></div></div></a>   
  <a href="../Races/Hôtesprit" class="race size-M"><img class="race-img" src="../Illustrations/Races/Hôtesprit.png"><div class="race-desc"><div class="race-name">Hôtesprit</div><br><div class="race-content">Les hôtesprits sont d'étranges résidents spectraux de la Frontière Éthérée. Souvent confondu avec des fantômes, les hôtesprits sont bel et bien vivants<br><span>Taille M</span></div></div></a> 
  <a href="../Races/Humain" class="race size-M subrace classic"><img class="race-img" src="../Illustrations/Races/Humain.png"><div class="race-desc"><div class="race-name">Humain</div><br><div class="race-content">Les humains sont parmi les peuples les plus versatiles et les plus ambitieux qui arpentent le monde.<br><span>Taille M</span></div></div></a> 
  <a href="../Races/Kender" class="race size-S"><img class="race-img" src="../Illustrations/Races/Kender.webp"><div class="race-desc"><div class="race-name">Kender</div><br><div class="race-content">Originaire du monde de Krynn, les Kenders sont des petits humanoïdes qui ressemblent à des humains avec des oreilles pointues.<br><span>Taille P</span></div></div></a>
  <a href="../Races/Kenku" class="race size-M"><img class="race-img" src="../Illustrations/Races/Kenku.png"><div class="race-desc"><div class="race-name">Kenku</div><br><div class="race-content">Peuple emplumé qui ressemble à des corbeaux, les kenkus sont dotés d'un sens de l'observation hors du commun et du mémoire incroyablement précise.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Kobold" class="race size-S subrace"><img class="race-img" src="../Illustrations/Races/Kobold.png"><div class="race-desc"><div class="race-name">Kobold</div><br><div class="race-content">Parmi les plus petites créatures draconiques du multivers, les kobolds varient dans la couleurs de leurs écailles.<br><span>Taille P</span></div></div></a>
  <a href="../Races/Mandragore" class="race size-M"><img class="race-img" src="../Illustrations/Races/Mandragore.webp"><div class="race-desc"><div class="race-name">Mandragore</div><br><div class="race-content">Si laissées pousser pendant une année et une journée, les mandragores deviennent de puissants arbres.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Minotaure" class="race size-M"><img class="race-img" src="../Illustrations/Races/Minotaure.png"><div class="race-desc"><div class="race-name">Minotaure</div><br><div class="race-content">Les minotaures sont des humanoïdes à la poitrine large avec des têtes ressemblant à celles des taureaux.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Nain" class="race size-M subrace classic"><img class="race-img" src="../Illustrations/Races/Nain.png"><div class="race-desc"><div class="race-name">Nain</div><br><div class="race-content">Audacieux et robustes, les nains sont connus pour leurs talents de guerriers et d'artisans.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Orque" class="race size-M"><img class="race-img" src="../Illustrations/Races/Orque.png"><div class="race-desc"><div class="race-name">Orque</div><br><div class="race-content">Les orques, bénis par Bélhorixa, font des alliés et des protecteurs de taille.<br><span>Taille M</span></div></div></a>  
  <a href="../Races/Orque" class="race size-M"><img class="race-img" src="../Illustrations/Races/Orque_Ana.png"><div class="race-desc"><div class="race-name">Orque</div><br><div class="race-content">Les orques, bénis par Bélhorixa, font des alliés et des protecteurs de taille.<br><span>Taille M</span></div></div></a>  
  <a href="../Races/Plasmoïde" class="race size-M size-S"><img class="race-img" src="../Illustrations/Races/Plasmoïde.webp"><div class="race-desc"><div class="race-name">Plasmoïde</div><br><div class="race-content">Les plasmoïdes sont des êtres amorphes sans forme d'origine qui se nourrissent de la même façon que les amibes.<br><span>Taille P ou M</span></div></div></a> 
  <a href="../Races/Satyre" class="race size-M"><img class="race-img" src="../Illustrations/Races/Satyre.png"><div class="race-desc"><div class="race-name">Satyre</div><br><div class="race-content">Originaires de la Féerie, les satyres se régalent de l'énergie de la joie et de la gaieté.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Shifter" class="race size-M"><img class="race-img" src="../Illustrations/Races/Shifter.webp"><div class="race-desc"><div class="race-name">Shifter</div><br><div class="race-content">Humanoïdes à l'aspect bestial, les shifters ne peuvent totalement changer de forme mais adoptent des traits animaux.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Tabaxi" class="race size-M size-S"><img class="race-img" src="../Illustrations/Races/Tabaxi.png"><div class="race-desc"><div class="race-name">Tabaxi</div><br><div class="race-content">Créés par un être divin d'un Plan Supérieur, les tabaxis combinent les qualités des humanoïdes et des chats.<br><span>Taille P ou M</span></div></div></a>
  <a href="../Races/Thri-keen" class="race size-M size-S"><img class="race-img" src="../Illustrations/Races/Thri-keen.png"><div class="race-desc"><div class="race-name">Thri-keen</div><br><div class="race-content">Les Thri-kreens ont des traits insectiformes et deux paires de bras. Leur corps est enveloppé d'une chitine protectrice.<br><span>Taille P ou M</span></div></div></a>
  <a href="../Races/Tieflin" class="race size-M subrace classic"><img class="race-img" src="../Illustrations/Races/Tieflin.png"><div class="race-desc"><div class="race-name">Tieflin</div><br><div class="race-content">Souvent discriminés par leurs origines, les tieflins sont originaires ou descendants des Plans Inférieurs.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Tortue" class="race size-M size-S"><img class="race-img" src="../Illustrations/Races/Tortue.png"><div class="race-desc"><div class="race-name">Tortue</div><br><div class="race-content">Les tortues ont un proverbe bien connu : "Nous portons nos maisons sur nos dos."<br><span>Taille P ou M</span></div></div></a>
  <a href="../Races/Triton" class="race size-M"><img class="race-img" src="../Illustrations/Races/Triton.png"><div class="race-desc"><div class="race-name">Triton</div><br><div class="race-content">Originaires du Plan Élémentaire de l'Eau, les tritons sont entrés sur le Plan Matériel par crainte des élémentaires.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Volanzée" class="race size-M size-S"><img class="race-img" src="../Illustrations/Races/Volanzée.webp"><div class="race-desc"><div class="race-name">Volanzée</div><br><div class="race-content">Chassés par d'immenses prédateurs, les Volanzées se sont adaptés par l'apparition d'une membrane leur permettant de planer.<br><span>Taille P ou M</span></div></div></a>
  <a href="../Races/Yuan-ti" class="race size-M size-S"><img class="race-img" src="../Illustrations/Races/Yuan-ti.webp"><div class="race-desc"><div class="race-name">Yuan-ti</div><br><div class="race-content">Les Yuan-tis étaient auparavant des humains ayant pris des traits serpentins à la suite d'antiques rituels.<br><span>Taille P ou M</span></div></div></a>





</div>

<style>
  .race-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(300px, 100px);
}
.race {
  color: inherit;
  text-decoration: none;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  background: #2C1A21;
  gap: -30px;
  transform: skew(-10deg, 0);
  border-radius: 25px;
  overflow: hidden;
}
.race-img {
  height: 300px;
}
.race-desc{
  text-align: center;
  vertical-align: middle;
}

.race-desc span{
  position: absolute;
  bottom: 20px;
  font-style: italic;
}

.race:hover{
  scale: 1.2;
  opacity: 1;
  border: 10px solid rgba(150,0,0,.4);
  cursor:pointer; 
  text-size-adjust: 83%; 
  z-index: 1;
}

.race-name{
  font-weight: 1000;
}

.subrace{
  width:;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.subrace-icon {
  width: 5%;
  position: absolute;
  right: 2%;
  top: 2%;
}

.size-M-icon {
  width: 5%;
  position: absolute;
  right: 10%;
  top: 2%;
}

.size-S-icon {
  width: 3%;
  position: absolute;
  right: 8%;
  top: 3%;
}
</style>

<script type="text/javascript">
  function add_subrace_icons(){
    subraces = document.querySelectorAll(".subrace");
    subraces.forEach(subrace => {
      subrace_name = subrace.querySelector(".race-name")
      var subrace_icon = document.createElement("img");
      subrace_icon.classList.add("subrace-icon")
      subrace_icon.src = "../Illustrations/Misc/subrace_icon.png";
      subrace_name.appendChild(subrace_icon);
    })
  }

  function add_size_icons(){
    mediums = document.querySelectorAll(".size-M");
    smalls = document.querySelectorAll(".size-S");
    mediums.forEach(medium => {
      race_name = medium.querySelector(".race-name")
      var size_icon = document.createElement("img");
      size_icon.classList.add("size-M-icon")
      size_icon.src = "../Illustrations/Misc/size_icon.png";
      race_name.appendChild(size_icon);
    })
    smalls.forEach(small => {
      race_name = small.querySelector(".race-name")
      var size_icon = document.createElement("img");
      size_icon.classList.add("size-S-icon")
      size_icon.src = "../Illustrations/Misc/size_icon.png";
      race_name.appendChild(size_icon);
    })
  }

  function updateSort(){
    var races = document.querySelectorAll(".race");
    races.forEach(race => {
      var is_small_and_selected = sizes.includes('S') && race.classList.contains('size-S');
      var is_medium_and_selected = sizes.includes('M') && race.classList.contains('size-M');
      var is_subrace_and_selected = subrace_only <= 1 && race.classList.contains('subrace');
      var is_not_subrace_and_selected = subrace_only != 1 && !race.classList.contains('subrace');
      var is_classic_and_selected = classic_only <= 1 && race.classList.contains('classic');
      var is_not_classic_and_selected = classic_only != 1 && !race.classList.contains('classic');
      if ((is_small_and_selected || is_medium_and_selected) 
        && (is_subrace_and_selected || is_not_subrace_and_selected)
        && (is_classic_and_selected || is_not_classic_and_selected)){
        race.style.display = "grid";
      } else {
        race.style.display = "none";
      }
    })

    var medium_button = document.getElementById("mediumb");
    var small_button = document.getElementById("smallb");
    var subrace_button = document.getElementById("subraceb");
    var classic_button = document.getElementById("classicb");
    medium_button.style.background = sizes.includes('M') && sizes != "MS" ? "#04AA6D" : "gray";
    small_button.style.background = sizes.includes('S') && sizes != "MS" ? "#04AA6D" : "gray";
    subrace_button.style.background = subrace_only == 0 ? "gray" : (subrace_only == 1 ? "#04AA6D" : "red");
    classic_button.style.background = classic_only == 0 ? "gray" : (classic_only == 1 ? "#04AA6D" : "red");
  }

  function showSize(size){
    if (sizes == size){
      sizes = 'MS'
    } else {
      sizes = size;
    }
    updateSort()
  }

  function showSubrace(){
    subrace_only = (subrace_only+1)%3;
    updateSort();
  }

  function showClassic(){
    classic_only = (classic_only+1)%3;
    updateSort();
  }

  var sizes = "MS";
  var subrace_only = 0;
  var classic_only = 0;
  add_subrace_icons();
  add_size_icons();
  updateSort();

</script>