<button class="button" id="mediumb" onclick="showSize('M')">Taille M</button>
<button class="button" id="smallb" onclick="showSize('S')">Taille P</button>
<button class="button" id="subraceb" onclick="showSubrace()">Sous-Race</button>
<button class="button" id="classicb" onclick="showClassic()">Races classiques</button>

<div class="race-grid">
  <a href="../Races/Thri-keen" class="race size-M size-S"><img class="race-img" src="../Illustrations/Races/Thri-keen.png"><div class="race-desc"><div class="race-name">Thri-keen</div><br><div class="race-content">Les Thri-kreens ont des traits insectiformes et deux paires de bras. Leur corps est enveloppé d'une chitine protectrice.<br><span>Taille P ou M</span></div></div></a>
  <a href="../Races/Tieflin" class="race size-M subrace classic"><img class="race-img" src="../Illustrations/Races/Tieflin.png"><div class="race-desc"><div class="race-name">Tieflin</div><br><div class="race-content">Souvent discriminés par leurs origines, les tieflins sont originaires ou descendants des Plans Inférieurs.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Tortue" class="race size-M size-S"><img class="race-img" src="../Illustrations/Races/Tortue.png"><div class="race-desc"><div class="race-name">Tortue</div><br><div class="race-content">Les tortues ont un proverbe bien connu : "Nous portons nos maisons sur nos dos."<br><span>Taille P ou M</span></div></div></a>
  <a href="../Races/Triton" class="race size-M"><img class="race-img" src="../Illustrations/Races/Triton.png"><div class="race-desc"><div class="race-name">Triton</div><br><div class="race-content">Originaires du Plan Élémentaire de l'Eau, les tritons sont entrés sur le Plan Matériel par crainte des élémentaires.<br><span>Taille M</span></div></div></a>
  <a href="../Races/Volanzée" class="race size-M size-S"><img class="race-img" src="../Illustrations/Races/Volanzée.webp"><div class="race-desc"><div class="race-name">Volanzée</div><br><div class="race-content">Chassés par d'immenses prédateurs, les Volanzées se sont adaptés par l'apparition d'une membrane leur permettant de planer.<br><span>Taille P ou M</span></div></div></a>
  <a href="../Races/Yuan-ti" class="race size-M size-S"><img class="race-img" src="../Illustrations/Races/Yuan-ti.webp"><div class="race-desc"><div class="race-name">Yuan-ti</div><br><div class="race-content">Les Yuan-tis étaient auparavant des humains ayant pris des traits serpentins à la suite d'antiques rituels.<br><span>Taille P ou M</span></div></div></a>





</div>

<style>
  .race-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(300px, 100px);
}
.race {
  color: inherit;
  text-decoration: none;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  background: #2C1A21;
  gap: -30px;
  transform: skew(-10deg, 0);
  border-radius: 25px;
  overflow: hidden;
}
.race-img {
  height: 300px;
}
.race-desc{
  text-align: center;
  vertical-align: middle;
}

.race-desc span{
  position: absolute;
  bottom: 20px;
  font-style: italic;
}

.race:hover{
  scale: 1.2;
  opacity: 1;
  border: 10px solid rgba(150,0,0,.4);
  cursor:pointer; 
  text-size-adjust: 83%; 
  z-index: 1;
}

.race-name{
  font-weight: 1000;
}

.subrace{
  width:;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.subrace-icon {
  width: 5%;
  position: absolute;
  right: 2%;
  top: 2%;
}

.size-M-icon {
  width: 5%;
  position: absolute;
  right: 10%;
  top: 2%;
}

.size-S-icon {
  width: 3%;
  position: absolute;
  right: 8%;
  top: 3%;
}
</style>

<script type="text/javascript">
  function add_subrace_icons(){
    subraces = document.querySelectorAll(".subrace");
    subraces.forEach(subrace => {
      subrace_name = subrace.querySelector(".race-name")
      var subrace_icon = document.createElement("img");
      subrace_icon.classList.add("subrace-icon")
      subrace_icon.src = "../Illustrations/Misc/subrace_icon.png";
      subrace_name.appendChild(subrace_icon);
    })
  }

  function add_size_icons(){
    mediums = document.querySelectorAll(".size-M");
    smalls = document.querySelectorAll(".size-S");
    mediums.forEach(medium => {
      race_name = medium.querySelector(".race-name")
      var size_icon = document.createElement("img");
      size_icon.classList.add("size-M-icon")
      size_icon.src = "../Illustrations/Misc/size_icon.png";
      race_name.appendChild(size_icon);
    })
    smalls.forEach(small => {
      race_name = small.querySelector(".race-name")
      var size_icon = document.createElement("img");
      size_icon.classList.add("size-S-icon")
      size_icon.src = "../Illustrations/Misc/size_icon.png";
      race_name.appendChild(size_icon);
    })
  }

  function updateSort(){
    var races = document.querySelectorAll(".race");
    races.forEach(race => {
      var is_small_and_selected = sizes.includes('S') && race.classList.contains('size-S');
      var is_medium_and_selected = sizes.includes('M') && race.classList.contains('size-M');
      var is_subrace_and_selected = subrace_only <= 1 && race.classList.contains('subrace');
      var is_not_subrace_and_selected = subrace_only != 1 && !race.classList.contains('subrace');
      var is_classic_and_selected = classic_only <= 1 && race.classList.contains('classic');
      var is_not_classic_and_selected = classic_only != 1 && !race.classList.contains('classic');
      if ((is_small_and_selected || is_medium_and_selected) 
        && (is_subrace_and_selected || is_not_subrace_and_selected)
        && (is_classic_and_selected || is_not_classic_and_selected)){
        race.style.display = "grid";
      } else {
        race.style.display = "none";
      }
    })

    var medium_button = document.getElementById("mediumb");
    var small_button = document.getElementById("smallb");
    var subrace_button = document.getElementById("subraceb");
    var classic_button = document.getElementById("classicb");
    medium_button.style.background = sizes.includes('M') && sizes != "MS" ? "#04AA6D" : "gray";
    small_button.style.background = sizes.includes('S') && sizes != "MS" ? "#04AA6D" : "gray";
    subrace_button.style.background = subrace_only == 0 ? "gray" : (subrace_only == 1 ? "#04AA6D" : "red");
    classic_button.style.background = classic_only == 0 ? "gray" : (classic_only == 1 ? "#04AA6D" : "red");
  }

  function showSize(size){
    if (sizes == size){
      sizes = 'MS'
    } else {
      sizes = size;
    }
    updateSort()
  }

  function showSubrace(){
    subrace_only = (subrace_only+1)%3;
    updateSort();
  }

  function showClassic(){
    classic_only = (classic_only+1)%3;
    updateSort();
  }

  var sizes = "MS";
  var subrace_only = 0;
  var classic_only = 0;
  add_subrace_icons();
  add_size_icons();
  updateSort();

</script>